<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var status = '<%- JSON.stringify(status)%>'
        console.log(JSON.parse(status))
        if(JSON.parse(status) == "Verified"){
            if(confirm("Искате ли да се впишете в системата?")){
                window.location.href="http://localhost:3000/login"
            }
        }
    </script>
</head>
<body>
   <h1><%= email%> </h1> 
    <form action="" method="post">
        <div>
            Нова парола:  <input type = "password" name="password" id="password" placeholder="Нова парола" />
        </div>
        <input type="submit" value="Потвърди" />
    </form>
</body>
</html>