.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CECECE;
    padding: 20px;
    height: 100vh;

  
    .searchdiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    .search {
      width: 200px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: #FFFFFF;
      color: #000000;
    }
  
    .exit {
      background-color: #FF6347;
      color: #FFFFFF;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .choice {
      display: flex;
      align-items: center;
      margin-top: 10px;
  
      .radio {
        margin-right: 5px;
      }
    }
    .filters{
        display: grid;
        .check {
            margin-left: 5px;
          }
          
    }

  
   
  
    .macrodiv {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      .macro {
        margin-right: 5px;
      }
  
      .number {
        width: 100px;
        padding: 5px;
        border: 1px solid #41B3A3;
        border-radius: 5px;
      }
    }
  
    .diary {
      margin-top: 10px;
      padding: 5px 10px;
      background-color: #41B3A3;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .nutritiondiv {
      display: flex;
      align-items: center;
      margin-top: 10px;
  
      .nutrition {
        margin-right: 5px;
        width: 150px;
        padding: 5px;
        border: 1px solid #41B3A3;
        border-radius: 5px;
      }
    }
  
    .calc {
      margin-top: 10px;
  
      .number {
        width: 100px;
        padding: 5px;
        border: 1px solid #41B3A3;
        border-radius: 5px;
      }
    }
  }